# Лабораторная работа №4
## Анализ данных Titanic с использованием Pandas

**Студент:** Шихмагомедов Алим  
**Группа:** УСИС 24-4  
**Дата выполнения:** [01.12.25]

---

### Цель работы
Освоение основных операций анализа данных с библиотекой Pandas на примере набора данных Titanic.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Настройка отображения
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

print("Библиотеки загружены успешно")
print(f"Версия Pandas: {pd.__version__}")
print("=" * 70)

Библиотеки загружены успешно
Версия Pandas: 2.2.2
======================================================================

In [3]:
# Лабораторная работа №4
## Анализ данных Titanic с использованием Pandas

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Настройка отображения
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

print("Библиотеки загружены успешно")
print(f"Версия Pandas: {pd.__version__}")
print("=" * 70)

Библиотеки загружены успешно
Версия Pandas: 2.2.2
======================================================================

In [4]:
# ========== ЗАДАЧА 1 ==========
print("ЗАДАЧА 1: Создание DataFrame из файла titanic.csv")
print("-" * 50)

# Способ 1: Загрузка из интернета (рекомендуется)
try:
    # URL датасета Titanic
    url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
    df = pd.read_csv(url, index_col='PassengerId')
    print("✓ Данные загружены из интернета")

except:
    # Способ 2: Загрузка локального файла через Colab
    print("Загружаем файл через Colab...")

    # Импортируем модуль для загрузки файлов
    from google.colab import files

    # Загружаем файл
    uploaded = files.upload()

    # Ищем загруженный файл
    for filename in uploaded.keys():
        if 'titanic' in filename.lower():
            df = pd.read_csv(filename, index_col='PassengerId')
            print(f"✓ Файл '{filename}' загружен успешно")
            break
    else:
        # Если файл не найден, используем встроенный датасет
        print("Используем встроенный датасет Seaborn...")
        import seaborn as sns
        df = sns.load_dataset('titanic')
        df = df.set_index(df.index)  # Создаем числовой индекс
        df.index.name = 'PassengerId'
        print("✓ Встроенный датасет Titanic загружен")

print(f"\nДанные успешно загружены. Размер: {df.shape[0]} строк, {df.shape[1]} столбцов")
print(f"Индекс: {df.index.name}")
print("\nСтолбцы:", list(df.columns))
print("=" * 70)

ЗАДАЧА 1: Создание DataFrame из файла titanic.csv
--------------------------------------------------
✓ Данные загружены из интернета

Данные успешно загружены. Размер: 891 строк, 11 столбцов
Индекс: PassengerId

Столбцы: ['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
======================================================================

In [5]:
# ========== ЗАДАЧА 2 ==========
print("\nЗАДАЧА 2: Первые 6 строк данных")
print("-" * 50)

print("Первые 6 строк:")
print(df.head(6))
print("=" * 70)

ЗАДАЧА 2: Первые 6 строк данных
--------------------------------------------------
Первые 6 строк:
             Survived  Pclass                                               Name     Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                   0       3                            Braund, Mr. Owen Harris    male  22.0      1      0         A/5 21171   7.2500   NaN        S
2                   1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1      0          PC 17599  71.2833   C85        C
3                   1       3                             Heikkinen, Miss. Laina  female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
4                   1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0            113803  53.1000  C123        S
5                   0       3                           Allen, Mr. William Henry    male  35.0      0      0            373450   8.0500   NaN        S
6                   0       3                                   Moran, Mr. James    male   NaN      0      0            330877   8.4583   NaN        Q
======================================================================

In [6]:
# ========== ЗАДАЧА 3 ==========
print("\nЗАДАЧА 3: Описание данных")
print("-" * 50)

print("Информация о DataFrame:")
print(df.info())

print("\n\nСтатистическое описание числовых столбцов:")
print(df.describe())

# Проверяем, есть ли нечисловые столбвы
non_numeric_cols = df.select_dtypes(include=['object']).columns
if len(non_numeric_cols) > 0:
    print(f"\n\nСтатистическое описание нечисловых столбцов ({len(non_numeric_cols)}):")
    print(df[non_numeric_cols].describe())
else:
    print("\nНет нечисловых столбцов для описания")

print("=" * 70)

ЗАДАЧА 3: Описание данных
--------------------------------------------------
Информация о DataFrame:
<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB
None


Статистическое описание числовых столбцов:
         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200


Статистическое описание нечисловых столбцов (5):
                       Name   Sex  Ticket Cabin Embarked
count                   891   891     891   204      889
unique                  891     2     681   147        3
top     Dooley, Mr. Patrick  male  347082    G6        S
freq                      1   577       7     4      644
======================================================================

In [7]:
# ========== ЗАДАЧА 4 ==========
print("\nЗАДАЧА 4: Сколько мужчин/женщин находилось на борту?")
print("-" * 50)

gender_counts = df['Sex'].value_counts()
print("Распределение по полу:")
print(gender_counts)

print(f"\n✓ Всего мужчин: {gender_counts.get('male', 0)}")
print(f"✓ Всего женщин: {gender_counts.get('female', 0)}")
print("=" * 70)

ЗАДАЧА 4: Сколько мужчин/женщин находилось на борту?
--------------------------------------------------
Распределение по полу:
Sex
male      577
female    314
Name: count, dtype: int64

✓ Всего мужчин: 577
✓ Всего женщин: 314
======================================================================

In [8]:
# ========== ЗАДАЧА 5 ==========
print("\nЗАДАЧА 5: Распределение переменной Pclass")
print("-" * 50)

# Общее распределение
print("1. ОБЩЕЕ распределение по классам:")
pclass_all = df['Pclass'].value_counts().sort_index()
print(pclass_all)

# По полу отдельно
print("\n2. Для МУЖЧИН:")
men_class = df[df['Sex'] == 'male']['Pclass'].value_counts().sort_index()
print(men_class)

print("\n3. Для ЖЕНЩИН:")
women_class = df[df['Sex'] == 'female']['Pclass'].value_counts().sort_index()
print(women_class)

# Ответ на конкретный вопрос
men_2nd = men_class.get(2, 0)
print(f"\n✓ Мужчин 2-го класса было: {men_2nd}")
print("=" * 70)

ЗАДАЧА 5: Распределение переменной Pclass
--------------------------------------------------
1. ОБЩЕЕ распределение по классам:
Pclass
1    216
2    184
3    491
Name: count, dtype: int64

2. Для МУЖЧИН:
Pclass
1    122
2    108
3    347
Name: count, dtype: int64

3. Для ЖЕНЩИН:
Pclass
1     94
2     76
3    144
Name: count, dtype: int64

✓ Мужчин 2-го класса было: 108
======================================================================

In [9]:
# ========== ЗАДАЧА 6 ==========
print("\nЗАДАЧА 6: Медиана и стандартное отклонение платежей (Fare)")
print("-" * 50)

fare_median = round(df['Fare'].median(), 2)
fare_std = round(df['Fare'].std(), 2)

print(f"✓ Медиана платежа: ${fare_median}")
print(f"✓ Среднеквадратичное отклонение: ${fare_std}")

# Дополнительная информация
print(f"\nДополнительно:")
print(f"• Минимальный платёж: ${df['Fare'].min():.2f}")
print(f"• Максимальный платёж: ${df['Fare'].max():.2f}")
print(f"• Средний платёж: ${df['Fare'].mean():.2f}")
print("=" * 70)

ЗАДАЧА 6: Медиана и стандартное отклонение платежей (Fare)
--------------------------------------------------
✓ Медиана платежа: $14.45
✓ Среднеквадратичное отклонение: $49.69

Дополнительно:
• Минимальный платёж: $0.00
• Максимальный платёж: $512.33
• Средний платёж: $32.20
======================================================================

In [10]:
# ========== ЗАДАЧА 7 ==========
print("\nЗАДАЧА 7: Выживаемость людей <30 лет vs >60 лет")
print("-" * 50)

# Создаем группы (игнорируем NaN в возрасте)
young = df[df['Age'] < 30]
old = df[df['Age'] > 60]

# Доли выживших
young_rate = young['Survived'].mean()
old_rate = old['Survived'].mean()

print(f"Пассажиров младше 30 лет: {len(young)} чел.")
print(f"Пассажиров старше 60 лет: {len(old)} чел.")
print(f"\nДоля выживших <30 лет: {young_rate:.2%} ({young_rate:.3f})")
print(f"Доля выживших >60 лет: {old_rate:.2%} ({old_rate:.3f})")

# Ответ
if young_rate > old_rate:
    print(f"\n✓ ПРАВДА: Молодые выживали чаще ({young_rate:.1%} > {old_rate:.1%})")
else:
    print(f"\n✗ ЛОЖЬ: Молодые выживали реже ({young_rate:.1%} < {old_rate:.1%})")
print("=" * 70)

ЗАДАЧА 7: Выживаемость людей <30 лет vs >60 лет
--------------------------------------------------
Пассажиров младше 30 лет: 384 чел.
Пассажиров старше 60 лет: 22 чел.

Доля выживших <30 лет: 40.62% (0.406)
Доля выживших >60 лет: 22.73% (0.227)

✓ ПРАВДА: Молодые выживали чаще (40.6% > 22.7%)
======================================================================

In [11]:
# ========== ЗАДАЧА 8 ==========
print("\nЗАДАЧА 8: Выживаемость женщин vs мужчин")
print("-" * 50)

# Группируем по полу и вычисляем долю выживших
survival_by_sex = df.groupby('Sex')['Survived'].mean()

print("Доля выживших по полу:")
for sex, rate in survival_by_sex.items():
    print(f"• {sex}: {rate:.2%} ({rate:.3f})")

# Конкретные числа
women_rate = survival_by_sex.get('female', 0)
men_rate = survival_by_sex.get('male', 0)

if women_rate > men_rate:
    print(f"\n✓ ПРАВДА: Женщины выживали чаще ({women_rate:.1%} > {men_rate:.1%})")
else:
    print(f"\n✗ ЛОЖЬ: Женщины выживали реже")
print("=" * 70)

ЗАДАЧА 8: Выживаемость женщин vs мужчин
--------------------------------------------------
Доля выживших по полу:
• female: 74.20% (0.742)
• male: 18.89% (0.189)

✓ ПРАВДА: Женщины выживали чаще (74.2% > 18.9%)
======================================================================

In [12]:
# ========== ЗАДАЧА 9 ==========
print("\nЗАДАЧА 9: Самое популярное имя среди мужчин")
print("-" * 50)

# Извлекаем имена из столбца Name
# Имя обычно идет после запятой и перед точкой: "Braund, Mr. Owen Harris"
def extract_first_name(name):
    try:
        # Пытаемся извлечь часть между запятой и точкой
        parts = name.split(', ')
        if len(parts) > 1:
            title_part = parts[1]
            # Убираем титул (Mr., Mrs., Miss и т.д.)
            name_parts = title_part.split('. ')
            if len(name_parts) > 1:
                return name_parts[1].split()[0]  # Первое имя
    except:
        pass
    return None

# Применяем функцию ко всем именам
df['FirstName'] = df['Name'].apply(extract_first_name)

# Считаем популярные имена среди мужчин
male_names = df[df['Sex'] == 'male']['FirstName'].dropna()
top_male_name = male_names.mode()

if len(top_male_name) > 0:
    print(f"✓ Самое популярное мужское имя: '{top_male_name.iloc[0]}'")
    print(f"  Встречается {male_names.value_counts().iloc[0]} раз")
else:
    print("Не удалось определить самое популярное имя")

# Покажем топ-5 имен
print("\nТоп-5 мужских имен:")
print(male_names.value_counts().head())
print("=" * 70)

ЗАДАЧА 9: Самое популярное имя среди мужчин
--------------------------------------------------
✓ Самое популярное мужское имя: 'William'
  Встречается 35 раз

Топ-5 мужских имен:
FirstName
William    35
John       25
George     14
Thomas     13
Charles    13
Name: count, dtype: int64
======================================================================

In [13]:
# ========== ЗАДАЧА 10 ==========
print("\nЗАДАЧА 10: Средний возраст по полу и классу")
print("-" * 50)

# Средний возраст для каждого сочетания пол-класс
age_by_sex_class = df.groupby(['Sex', 'Pclass'])['Age'].mean().unstack()

print("Средний возраст (лет):")
print(age_by_sex_class.round(1))

# Проверка утверждений
print("\nПРОВЕРКА УТВЕРЖДЕНИЙ:")

# 1. Мужчины 1-го класса старше 40?
men_1st_age = age_by_sex_class.loc['male', 1]
print(f"1. Мужчины 1-го класса в среднем старше 40 лет?")
print(f"   Средний возраст: {men_1st_age:.1f} лет → {'ДА' if men_1st_age > 40 else 'НЕТ'}")

# 2. Женщины 1-го класса старше 40?
women_1st_age = age_by_sex_class.loc['female', 1]
print(f"\n2. Женщины 1-го класса в среднем старше 40 лет?")
print(f"   Средний возраст: {women_1st_age:.1f} лет → {'ДА' if women_1st_age > 40 else 'НЕТ'}")

# 3. Мужчины старше женщин в том же классе?
print(f"\n3. Мужчины всех классов в среднем старше женщин того же класса?")
for pclass in [1, 2, 3]:
    men_age = age_by_sex_class.loc['male', pclass]
    women_age = age_by_sex_class.loc['female', pclass]
    print(f"   Класс {pclass}: муж {men_age:.1f} vs жен {women_age:.1f} → "
          f"{'ДА' if men_age > women_age else 'НЕТ'}")

# 4. Возраст уменьшается с классом?
print(f"\n4. Люди в 1 классе старше, чем во 2-ом, а те старше 3-го класса?")
avg_age_by_class = df.groupby('Pclass')['Age'].mean()
print(f"   Средний возраст по классам:")
for pclass, age in avg_age_by_class.items():
    print(f"   Класс {pclass}: {age:.1f} лет")

# Проверка убывания
is_decreasing = (avg_age_by_class[1] > avg_age_by_class[2] > avg_age_by_class[3])
print(f"   Утверждение верно? {'ДА' if is_decreasing else 'НЕТ'}")

print("\n5. Средний возраст у спасенных и погибших:")
survival_age = df.groupby('Survived')['Age'].mean()
print(f"   • Выжившие: {survival_age.get(1, 0):.1f} лет")
print(f"   • Погибшие: {survival_age.get(0, 0):.1f} лет")

if survival_age.get(0, 0) > survival_age.get(1, 0):
    print(f"   ✓ Средний возраст погибших ВЫШЕ")
else:
    print(f"   ✗ Средний возраст погибших НИЖЕ")
print("=" * 70)

ЗАДАЧА 10: Средний возраст по полу и классу
--------------------------------------------------
Средний возраст (лет):
Pclass     1     2     3
Sex
female  34.6  28.7  21.8
male    41.3  30.7  26.5

ПРОВЕРКА УТВЕРЖДЕНИЙ:
1. Мужчины 1-го класса в среднем старше 40 лет?
   Средний возраст: 41.3 лет → ДА

2. Женщины 1-го класса в среднем старше 40 лет?
   Средний возраст: 34.6 лет → НЕТ

3. Мужчины всех классов в среднем старше женщин того же класса?
   Класс 1: муж 41.3 vs жен 34.6 → ДА
   Класс 2: муж 30.7 vs жен 28.7 → ДА
   Класс 3: муж 26.5 vs жен 21.8 → ДА

4. Люди в 1 классе старше, чем во 2-ом, а те старше 3-го класса?
   Средний возраст по классам:
   Класс 1: 38.2 лет
   Класс 2: 29.9 лет
   Класс 3: 25.1 лет
   Утверждение верно? ДА

5. Средний возраст у спасенных и погибших:
   • Выжившие: 28.3 лет
   • Погибшие: 30.6 лет
   ✓ Средний возраст погибших ВЫШЕ
======================================================================